.shop__info {
    margin-bottom: 20px;
}

.shop__info_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop__tools {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button_formChange {
    background: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.button_formChange__svgWrapper {
    fill: var(--main-color);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-items: center;
    justify-content: center;
    gap: 20px;
}

.lines {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(auto-fit, 150px);
        gap: 10px;
    }

    .shop__info_line {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}
