.shop_info {
    margin-bottom: 20px;
}

.shop_info_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop_tools {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_form-changer {
    background: transparent;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.btn_form-changer svg {
    fill: #1f1f1d;
}

.btn_filter {
    color: #1f1f1d;
    font-size: 24px;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn_filter svg {
    width: 24px;
    height: 24px;
    fill: #1f1f1d;
}

.disabled {
    display: none;
}

.shop_items {
    list-style: none;
}

.shop_items.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-items: center;
    justify-content: center;
    gap: 20px;
}

.shop_items.lines {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (max-width: 600px) {
    .shop_items.cards {
        grid-template-columns: repeat(auto-fit, 150px);
        gap: 10px;
    }

    .shop_info_line {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
}
