.cart__heading {
    font-size: 30px;
}

.cart__window {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.cart__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart_empty {
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cart_empty_heading {
    font-size: 30px;
}

.link {
    text-decoration: underline;
}

@media screen and (max-width: 1250px) {
    .cart__window {
        flex-direction: column-reverse;
        align-items: center;
    }
}
