.goodCard {
    position: relative;
    left: 0;
    background-color: var(--background-color);
    width: 250px;
    height: 295px;
    padding: 5px;
    border: 1px solid var(--button-border-color);
    border-radius: 4%;
}

.goodCard__link {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.goodCard__icon {
    max-width: 100%;
    height: 150px;
    object-fit: contain;
}

.goodCard__info {
    height: 125px;
    display: grid;
    grid-template-columns: 1fr 44px;
    grid-template-rows: 1fr 20px 44px;
    align-items: center;
    row-gap: 5px;
}

.goodCard__product_name {
    grid-area: 1 / 1 / 2 / 3;
    align-self: start;
    overflow: hidden;
}

.goodCard__product_rating {
    height: 20px;
    grid-area: 2 / 1 / 3 / 3;
}

.goodCard__product_prices {
    height: 44px;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    
}

.goodCard__product_now {
    line-height: 24px;
    font-size: 24px;
}

.goodCard__product_previous {
    margin-left: 3px;
    color: #6b6b7e;
    text-decoration: line-through;
}

@media screen and (max-width: 600px) {
    .goodCard {
        width: 145px;
        height: 235px;
    }
    .goodCard__icon {
        max-width: 135px;
        max-height: 85px;
    }
}
