.nav {
    width: 100%;
    padding: 10px 30px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.nav__logo {
    color: var(--main-color);
    font-size: 24px;
    font-weight: bold;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button_toggle {
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.dark {
    background-image: url("dark.svg");
    background-size: 24px;
}

.light {
    background-image: url("light.svg");
    background-size: 24px;
}

@media screen and (max-width: 600px) {
    .nav {
        gap: 45px;
    }
    .nav__list {
        gap: 15px;
    }
}
