.themeGoods {
    position: relative;
    padding: 10px;
}

.themeGoods__heading {
    font-size: 30px;
}

.themeGoods__name {
    margin-bottom: 20px;
}

.themeGoods__list {
    overflow-x: scroll;
    list-style: none;
    display: flex;
    gap: 12px;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}

.themeGoods__list::-webkit-scrollbar {
    display: none;
}

.mover_left,
.mover_right {
    position: absolute;
    top: 75px;
    width: 65px;
    height: 290px;
    display: flex;
    align-items: center;
}

.mover_left {
    left: 10px;
}

.mover_right {
    right: 10px;
}

.button_mover {
    opacity: 0;
    background: #686868a1;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s ease-in;
}

.mover_right:hover .button_mover,
.mover_left:hover .button_mover {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .themeGoods__list {
        gap: 10px;
    }
}
