.theme-goods {
    position: relative;
    padding: 10px;
}

.theme-goods h3 {
    font-size: 30px;
}

.theme-goods_name {
    margin-bottom: 20px;
}

.theme-goods_list {
    overflow: hidden;
    list-style: none;
    display: flex;
    gap: 12px;
}

.theme-goods_list li {
    position: relative;
    transition: left 0.35s ease-in;
}

.mover_left {
    position: absolute;
    top: 75px;
    left: 10px;
    width: 65px;
    height: 290px;
    display: flex;
    align-items: center;
}

.mover_right {
    position: absolute;
    top: 75px;
    right: 10px;
    width: 65px;
    height: 290px;
    display: flex;
    align-items: center;
}

.btn_mover {
    opacity: 0;
    background: #686868a1;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s ease-in;
}

.mover_right:hover .btn_mover,
.mover_left:hover .btn_mover {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .theme-goods_list {
        gap: 10px;
    }
}
