.counter {
    display: flex;
}

.counter__input {
    font-size: 16px;
    color: var(--main-color);
    background-color: var(--background-color);
    width: 50px;
    height: 30px;
    padding: 2px 6px 0 6px;
    border: 1px solid var(--border-color);
    border-radius: 0;
    display: flex;
    align-items: center;
}

.counter__input:focus {
    outline: none;
}

.button_minus,
.button_plus {
    font-size: 18px;
    color: var(--main-color);
    background-color: transparent;
    width: 24px;
    height: 30px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.button_minus {
    border-right: none;
    border-radius: 7px 0 0 7px;
}

.button_plus {
    border-left: none;
    border-radius: 0 7px 7px 0;
}
