img {
    filter: invert(7%) sepia(12%) saturate(353%) hue-rotate(22deg) brightness(95%) contrast(87%);
    -webkit-filter: invert(7%) sepia(12%) saturate(353%) hue-rotate(22deg) brightness(95%) contrast(87%);
}

.cart-icon {
    position: relative;
    bottom: -4px;
}

.goods-number {
    color: #f5f5f5;
    background: #1f1f1d;
    font-size: 14px;
    line-height: 18px;
    width: 18px;
    position: absolute;
    top: -7px;
    right: -5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}