.cart-icon {
    position: relative;
    bottom: -4px;
}

.cart-icon svg {
    width: 24px;
    height: 24px;
    fill: #1f1f1d;
}

.goods-number {
    color: #f5f5f5;
    background: #1f1f1d;
    font-size: 14px;
    line-height: 18px;
    width: 18px;
    position: absolute;
    top: -7px;
    right: -5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
