.cartIcon {
    position: relative;
    bottom: -4px;
}

.cartIcon_wrapper {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
}

.cartIcon__number {
    color: var(--background-color);
    background: var(--main-color);
    font-size: 14px;
    line-height: 18px;
    width: 18px;
    position: absolute;
    top: -7px;
    right: -5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
