.reviews {
    width: 100%;
    height: 100%;
}

.reviews h1 {
    margin-bottom: 10px;
}

.reviews_info_line {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.reviews-filter_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px 15px;
}

.list_item__rating label {
    height: 25px;
    padding: 0 5px;
    border: 1px solid #b3a9a9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.reviews_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.reviews_list li {
    width: min(900px, 100%);
}

.reviews .review {
    border-bottom: 1px solid #b3a9a9;
}