.button_add {
    background-color: var(--background-color);
    width: 44px;
    height: 44px;
    border: 1px solid var(--button-border-color);
    border-radius: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:  ease-out;
}

.button_add_wrapper {
    width: 24px;
    height: 24px;
    fill: var(--main-color)
    
}

.button_add:hover {
    background-color: var(--button-hover-color);
}
