.dark .btn_add-to-cart {
    background-color: #1f1f1d;
    border: 1px solid #6a6a6a;
}

.dark .btn_add-to-cart svg {
    width: 24px;
    height: 24px;
    fill: #cbcaca;
}

.dark .btn_add-to-cart:hover {
    background-color: #3c3c3c;
}
