input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.filter {
    width: 100%;
    height: 200px;
    padding: 20px 10px;
    display: flex;
    gap: 10px;
}

.price-filter {
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.price {
    display: flex;
    gap: 3px;
}

.price-filter input {
    max-width: 75px;
    padding: 0 3px;
    border: 1px solid #767667;
    border-radius: 5px;
}

.prop-list {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.prop {
    display: flex;
    gap: 5px;
}
