.checkout {
    width: min(400px, 100%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout__total_title {
    font-size: 20px;
    font-weight: bold;
}

.checkout__total_info {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.button_checkout {
    font-size: 20px;
    color: var(--main-color);
    background-color: transparent;
    width: 100%;
    height: 40px;
    border: 1px solid var(--button-border-color);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s ease-out;
}

.button_checkout:hover {
    border: 1px solid var(--hover-color)
}
