.product {
    height: 100%;
}

.product_main {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 50px 1fr 1fr 1fr;
    align-items: center;
    gap: 5px;
}

.product h1 {
    align-self: start;
    grid-area: 1 / 1 / 2 / 3;
}

.product-image {
    max-width: 400px;
    max-height: 250px;
    grid-area: 2 / 1 / 5 / 2;
}

.product h2 {
    margin-bottom: 5px;
}

.product_information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product_information article {
    color: #333333;
    line-height: 20px;
}

.product_reviews {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}


.btn-link a {
    font-size: 24px;
}

@media screen and (max-width: 850px) {
    .product-image {
        max-width: 240px;
        max-height: 150px;
    }
}

@media screen and (max-width: 600px) {
    .product_main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 150px 22px 1fr;
    }

    .product h1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .product-image {
        grid-area: 2 / 1 / 3 / 3;
    }

    .product_main a {
        grid-area: 3 / 1 / 4 / 3;
    }

    .product .btn_add-to-cart {
        justify-self: end;
    }
}
