.product {
    height: 100%;
}

.product__main {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 50px 1fr 1fr 1fr;
    align-items: center;
    gap: 5px;
}

.product__heading_first {
    align-self: start;
    grid-area: 1 / 1 / 2 / 3;
}

.product__image {
    max-width: 400px;
    max-height: 250px;
    grid-area: 2 / 1 / 5 / 2;
}

.product__heading_second {
    margin-bottom: 5px;
}

.product__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product__info_article {
    color: var(--second-font-color);
    line-height: 20px;
}

.product__reviews {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.product__link_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}


.product__link {
    font-size: 24px;
}

@media screen and (max-width: 850px) {
    .product__image {
        max-width: 240px;
        max-height: 150px;
    }
}

@media screen and (max-width: 600px) {
    .product__main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 150px 22px 1fr;
    }

    .product__heading_first {
        grid-area: 1 / 1 / 2 / 3;
    }

    .product__image {
        grid-area: 2 / 1 / 3 / 3;
    }

    .product__main_link {
        grid-area: 3 / 1 / 4 / 3;
    }
}
