.goodLine {
    position: relative;
    left: 0;
    background-color: var(--background-color);
    width: 100%;
    padding: 3px 10px;
    border: 1px solid var(--button-border-color);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.goodLine_link {
    display: flex;
    justify-content: center;
}

.goodLine__icon {
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.goodLine__info {
    flex: 1;
    padding: 5px 0;
    display: grid;
    grid-template-columns: 5fr max(150px, 28%) 44px;
    grid-template-rows: 44px 1fr;
    align-items: center;
    gap: 5px 10px;
}

.goodLine__product_name {
    grid-area: 1 / 1 / 3 / 2;
    align-self: start;
}

.goodLine__product_rating {
    height: 20px;
    grid-area: 2 / 2 / 3 / 3;
}

.goodLine__product_prices {
    height: 44px;
    grid-area: 1 / 2 / 2 / 3;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}

.goodLine__product_previous {
    color: #6b6b7e;
    text-decoration: line-through;
}

.goodLine__button_wrapper {
    grid-area: 1 / 3 / 3 / 4;
}

@media screen and (max-width: 850px) {
    .goodLine {
        gap: 10px;
    }
    
    .goodLine__icon {
        max-width: 150px;
        max-height: 100px;
    }
}

@media screen and (max-width: 600px) {
    .goodLine__info {
        grid-template-columns: 140px 1fr;
        grid-template-rows: 65px 25px 1fr;
    }

    .goodLine__icon {
        position: absolute;
        top: 3px;
        left: 10px;
    }

    .goodLine__product_name {
        grid-area: 1 / 2 / 2 / 3;
    }

    .goodLine__product_rating {
        grid-area: 2 / 2 / 3 / 3 ;
    }
    
    .goodLine__product_prices {
        grid-area: 3 / 1 / 4 / 2;
    }

    .goodLine__button_wrapper {
        grid-area: 3 / 2 / 4 / 3;
        justify-self: end;
    }
}
