nav {
    padding: 10px 30px;
    border-bottom: 1px solid #b3a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.logo {
    color: #1f1f1d;
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn_toggle-mode {
    background-color: transparent;
    width: 24px;
    height: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    nav {
        gap: 45px;
    }
    .nav-list {
        gap: 15px;
    }
}
