nav {
    padding: 10px 30px;
    border-bottom: 1px solid #b3a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

h1 {
    color: #1f1f1d;
    font-size: 24px;
    font-weight: bold;
}

a {
    color: #2f3946;
    text-decoration: none;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}