footer {
    color: #f5f5f5;
    background-color: #1f1f1d;
    width: 100%;
    padding: 10px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #e5e7eb;
}

.github__logo {
    width: 24px;
}
